:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --shadow-light: 0 1rem 5rem rgba(0,0,0,0.06);
  --white: #fff;
  --line: 1px solid var(--grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  background-color: var(--grey-light-1);
  margin: 8rem auto;
  min-height: 55rem;
  max-width: 120rem; }

.header {
  height: 7rem;
  background-color: var(--white);
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--grey-dark-1);
  flex: 0 0 18%; }

.hotel-view {
  flex: 1; }

.detail {
  padding: 4.5rem;
  display: flex; }

.description {
  font-size: 1.4rem;
  flex: 0 0 60%;
  box-shadow: var(--shadow-light);
  background-color: white;
  padding: 3rem;
  margin-right: 4.5rem; }

.user-reviews {
  flex: 1;
  background-color: yellowgreen; }

.logo {
  height: 3.5rem;
  margin-left: 2rem; }

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 40%; }
  .search__input {
    font-family: inherit;
    font-size: 1.35rem;
    color: inherit;
    padding: .7rem 2rem;
    width: 90%;
    border-radius: 100px;
    border: none;
    margin-right: -3.5rem;
    transition: all .2s;
    background-color: var(--grey-light-2); }
    .search__input:focus {
      outline: none;
      width: 100%; }
    .search__input::-webkit-input-placeholder {
      color: var(--grey-light-4);
      font-weight: 100; }
  .search__button {
    border: none;
    background-color: var(--grey-light-2);
    transition: all .25s; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--grey-dark-3); }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%; }
  .user-nav > *:hover {
    background-color: var(--grey-light-2); }
  .user-nav__icon-box {
    display: flex;
    align-items: center;
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--grey-dark-2); }
  .user-nav__notification {
    background-color: var(--color-primary);
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white); }
  .user-nav__user {
    display: flex;
    justify-content: center;
    align-items: center; }
    .user-nav__user-photo {
      height: 4rem;
      border-radius: 50%;
      margin-right: 1rem; }
    .user-nav__user-name {
      font-size: 1.4rem; }

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .sidebar-nav {
    margin-top: 2rem;
    list-style: none; }
  .sidebar__item {
    position: relative;
    cursor: pointer;
    padding: 1.7rem 3rem; }
  .sidebar__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.32s cubic-bezier(1, 0, 0, 1) 0.24s; }
  .sidebar__item:hover::before, .sidebar__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .sidebar__item:active::before {
    background-color: var(--color-primary-light); }
  .sidebar__link:link, .sidebar__link:visited {
    position: relative;
    z-index: 5;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--grey-light-1);
    text-decoration: none;
    display: flex;
    align-items: center; }
  .sidebar__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2.5rem;
    fill: currentColor; }

.legal {
  font-size: 1.2rem;
  color: var(--grey-light-4);
  text-align: center;
  padding: 2rem; }

.gallery {
  display: flex; }
  .gallery__photo {
    display: block;
    width: 100%; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line); }
  .overview [class^="overview__icon"] {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary); }
  .overview__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .overview__stars {
    display: flex;
    gap: 2px;
    margin-right: auto; }
  .overview__location {
    display: flex;
    margin-right: 2rem; }
  .overview__icon-location {
    margin-right: .3rem; }
  .overview__rating {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    color: white;
    background-color: var(--color-primary);
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 0 2rem; }
    .overview__rating-average {
      font-size: 2.4rem;
      font-weight: 500;
      margin-bottom: -3px; }
    .overview__rating-count {
      font-size: 1.2rem; }

.btn-inline {
  color: var(--color-primary);
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-bottom: 1px solid currentColor;
  transition: all .4s; }
  .btn-inline:hover {
    color: var(--grey-dark-1); }
  .btn-inline:focus {
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.03);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.paragraph {
  color: var(--grey-dark-2); }
  .paragraph:not(:last-of-type) {
    margin-bottom: 2rem; }

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-top: var(--line);
  border-bottom: var(--line);
  margin: 4rem 0; }
  .list__item {
    flex: 0 0 50%; }
    .list__item::before {
      content: '';
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-right: .7rem;
      background-image: var(--color-primary);
      background-image: url(../img/chevron-thin-right.svg);
      background-size: cover; }

.recommend {
  display: flex;
  align-items: center; }
  .recommend__count {
    margin-right: auto; }
  .recommend__friends {
    display: flex; }
  .recommend__photo {
    box-sizing: content-box;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-right: -1.5rem; }
