:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --white: #fff; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  background-color: var(--grey-light-1);
  margin: 8rem auto;
  min-height: 55rem;
  max-width: 120rem; }

.header {
  height: 7rem;
  background-color: var(--white);
  border-bottom: var(--grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--grey-dark-1);
  flex: 0 0 18%; }

.hotel-view {
  height: 80rem;
  flex: 1; }

.logo {
  height: 3.5rem;
  margin-left: 2rem; }

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 40%; }
  .search__input {
    font-family: inherit;
    font-size: 1.35rem;
    color: inherit;
    padding: .7rem 2rem;
    width: 90%;
    border-radius: 100px;
    border: none;
    margin-right: -3.5rem;
    transition: all .2s;
    background-color: var(--grey-light-2); }
    .search__input:focus {
      outline: none;
      width: 100%; }
    .search__input::-webkit-input-placeholder {
      color: var(--grey-light-4);
      font-weight: 100; }
  .search__button {
    border: none;
    background-color: var(--grey-light-2);
    transition: all .25s; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--grey-dark-3); }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%; }
  .user-nav > *:hover {
    background-color: var(--grey-light-2); }
  .user-nav__icon-box {
    display: flex;
    align-items: center;
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--grey-dark-2); }
  .user-nav__notification {
    background-color: var(--color-primary);
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white); }
  .user-nav__user {
    display: flex;
    justify-content: center;
    align-items: center; }
    .user-nav__user-photo {
      height: 4rem;
      border-radius: 50%;
      margin-right: 1rem; }
    .user-nav__user-name {
      font-size: 1.4rem; }

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .sidebar-nav {
    margin-top: 2rem;
    list-style: none; }
  .sidebar__item {
    position: relative;
    cursor: pointer;
    padding: 1.7rem 3rem; }
  .sidebar__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.32s cubic-bezier(1, 0, 0, 1) 0.24s; }
  .sidebar__item:hover::before, .sidebar__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .sidebar__item:active::before {
    background-color: var(--color-primary-light); }
  .sidebar__link:link, .sidebar__link:visited {
    position: relative;
    z-index: 5;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--grey-light-1);
    text-decoration: none;
    display: flex;
    align-items: center; }
  .sidebar__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2.5rem;
    fill: currentColor; }

.legal {
  font-size: 1.2rem;
  color: var(--grey-light-4);
  text-align: center;
  padding: 2rem; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%; }

.overview {
  display: flex; }
  .overview [class^="overview__icon"] {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary); }
  .overview__stars {
    margin-right: auto; }
