:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --white: #fff; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  background-color: var(--grey-light-1);
  margin: 8rem auto;
  min-height: 55rem;
  max-width: 120rem; }

.header {
  height: 7rem;
  background-color: var(--white);
  border-bottom: var(--grey-light-2); }

.content {
  display: flex; }

.sidebar {
  background-color: var(--grey-dark-1);
  flex: 0 0 18%; }

.hotel-view {
  background-color: var(--white);
  flex: 1; }

.logo {
  height: 3.25rem; }

.search__icon {
  height: 2rem;
  width: 2rem; }

.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem; }

.user-nav__user-photo {
  height: 3.25rem;
  border-radius: 50%; }
