////////////////////////////////////////
// LOGO

.logo {
    height: 3.5rem;
    margin-left: 2rem;
}

////////////////////////////////////////
// SEARCH

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 40%;

    &__input {
        font-family: inherit;
        font-size: 1.35rem;
        color: inherit;
        padding: .7rem 2rem;
        width: 90%;
        border-radius: 100px;
        border: none;

        margin-right: -3.5rem;
        transition: all .2s;

        background-color: var(--grey-light-2);

        &:focus {
            outline: none;
            width: 100%;
        }

        &::-webkit-input-placeholder {
            color: var(--grey-light-4);
            font-weight: 100;
        }
    }

    &__button {
        border: none;
        background-color: var(--grey-light-2);
        transition: all .25s;

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--grey-dark-3);
    }
}

////////////////////////////////////////
// USER NAVIGATION

.user-nav {
    align-self: stretch;

    display: flex;
    align-items: center;
    
    
    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
    }

    & > *:hover {
        background-color: var(--grey-light-2);
    }

    &__icon-box {
     display: flex;
     align-items: center;
     position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--grey-dark-2);
    }

    &__notification {
        background-color: var(--color-primary);
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;

        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--white);
    }

    &__user {
        display: flex;
        justify-content: center;
        align-items: center;
        
        &-photo {
            height: 4rem;
            border-radius: 50%;
            
            margin-right: 1rem;
        } 

        &-name {
            font-size: 1.4rem;
        }
    }
}

////////////////////////////////////////
// SIDE NAVIGATION

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    &-nav {
        margin-top: 2rem;
        list-style: none;
    }
        &__item {
            position: relative; 
            cursor: pointer;
            padding: 1.7rem 3rem;
        }
        
        &__item::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
            background-color: var(--color-primary);
            transform: scaleY(0);
            transition: transform .2s,
                        width .32s cubic-bezier(1,0,0,1) .24s;
            
        }

        &__item:hover::before,
        &__item--active::before {
            transform: scaleY(1);
            width: 100%;
        }

        &__item:active::before {
            background-color: var(--color-primary-light);
        }

        &__link:link,
        &__link:visited {
            position: relative;
            z-index: 5;
            font-size: 1.5rem;
            text-transform: uppercase;
            color: var(--grey-light-1);
            text-decoration: none;

            display: flex;
            align-items: center;
        }

        &__icon {
            height: 1.75rem;
            width: 1.75rem;
            margin-right: 2.5rem;
            fill: currentColor;
        }
}


////////////////////////////////////////
// LEGAL TEXT

.legal {
    font-size: 1.2rem;
    color: var(--grey-light-4);
    text-align: center;
    padding: 2rem;
}

////////////////////////////////////////
// GALLERY

.gallery {
    display: flex;

    &__photo {
        display: block;
        width: 100%;
    }

}

////////////////////////////////////////
// OVERVIEW

.overview {
    background-color: var(--white);
    display: flex;
    align-items: center;
    border-bottom: var(--line);

    [class^="overview__icon"] {
        height: 1.75rem;
        width: 1.75rem;
        fill: var(--color-primary);
    }

    &__heading {
        font-size: 2.5rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
    }

    &__stars {
        display: flex;
        gap: 2px;
        margin-right: auto;
    }

    &__location {
        display: flex;
        margin-right: 2rem;
    }

    &__icon-location {
        margin-right: .3rem;
    }

    &__rating {
        display: flex;
        flex-direction: column;
        font-weight: 400;
        color: white;
        background-color: var(--color-primary);
        
        justify-content: center;
        align-items: center;
        align-self: stretch;

        padding: 0 2rem;

        &-average {
            font-size: 2.4rem;
            font-weight: 500;
            margin-bottom: -3px;
        }

        &-count {
            font-size: 1.2rem;
        }
    }
}

////////////////////////////////////////
// BUTTONS

.btn {
    position: relative;
    color: var(--white);
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 300;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-dark));
    overflow: hidden;

    & > * {
        display: inline-block;
        width: 100%;
        height: 100%;
        transition: all .3s;
    }
    
    &__visible {
        padding: 2rem 7.5rem;
    }

    &__invisible {
        position: absolute;
        padding: 2rem 0;
        top: -100%;
        left: 0;
    }

    &:hover {
        background-image: linear-gradient(to left, var(--color-primary), var(--color-primary-dark));
    }

    &:hover &__visible {
        transform: translateY(100%);
    }

    &:hover &__invisible {
        top: 0;
    }

    &:focus {
        animation: pulsate 1s infinite;
    }
}

.btn-inline {
    
    color: var(--color-primary);
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: .35rem;
    border-bottom: 1px solid currentColor;
    transition: all .4s;

    & span {
        margin-left: .3rem;
        transition: margin-left .2s;
    }

    &:hover {
        color: var(--grey-dark-1);

        span {
            margin-left: .8rem;
        }
    }

    &:focus {
        animation: pulsate 1s infinite;
    }
}

@keyframes pulsate {
    
    0% {
        transform: scale(1);
        box-shadow: none;
    }

        50% {
            transform: scale(1.03);
            box-shadow: 0 1rem 4rem rgba(0,0,0,0.4);
        }

            100% {
                transform: scale(1);
                box-shadow: none;
            }
}

////////////////////////////////////////
// PARAGRAPHS

.paragraph {
    color: var(--grey-dark-2);

    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }
}

////////////////////////////////////////
// LISTS

.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    border-top: var(--line);
    border-bottom: var(--line);
    padding: 4rem;
    margin: 4rem 0;

    &__item {
        flex: 0 0 50%;
        

        &::before {
            content: '';
            display: inline-block;
            width: 1rem;
            height: 1rem;
            margin-right: .7rem;
            background-image: var(--color-primary);

            // -webkit-mask-image: url(../img/chevron-thin-right.svg);
            // -webkit-mask-size: cover;
            // mask-image: url(../img/chevron-thin-right.svg);
            // mask-size: cover;

            background-image: url(../img/chevron-thin-right.svg);
            background-size: cover;
        }
    }
}

////////////////////////////////////////
// RECOMMEND

.recommend {
    display: flex;
    align-items: center;

    &__count {
        margin-right: auto;
    }

    &__friends {
        display: flex;
    }

    &__photo {
        box-sizing: content-box;
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        border: 3px solid #fff;
        margin-right: -1.5rem;
    }
}

////////////////////////////////////////
// REVIEWS 

.review {
    position: relative;
    background-color: var(--white);
    box-shadow: var(--shadow-light);
    z-index: 3;

    padding: 3rem;
    margin-bottom: 4.5rem;

    &::before {
        font-size: 24rem;
        color: var(--grey-light-3);
        line-height: 1;
        font-family: sans-serif;
        content: '\201C';
        position: absolute;
        top: -2rem;
        left: -1rem;
        z-index: -1;
    }

    &__text {
        z-index: 5;
    }

    &__user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2.5rem;

        &-box {
            margin: 0 auto 0 1.2rem;
        }

        &-name {
            color: var(--grey-dark-2);
            text-transform: uppercase;
            font-weight: 700;
        }

        &-date {
            font-size: 1.2rem;
        }

        &-rating {
            color: var(--color-primary);
            font-size: 2.5rem;
            font-weight: 400;
        }
    }

    &__photo {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
    }
}

////////////////////////////////////////
// CALL TO ACTION

.cta {
    padding: 3rem 0;
    text-align: center;

    &__book-now {
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }

}
