////////////////////////////////////////
// LOGO

.logo {
    height: 3.5rem;
    margin-left: 2rem;
}

////////////////////////////////////////
// SEARCH

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 40%;

    &__input {
        font-family: inherit;
        font-size: 1.35rem;
        color: inherit;
        padding: .7rem 2rem;
        width: 90%;
        border-radius: 100px;
        border: none;

        margin-right: -3.5rem;
        transition: all .2s;

        background-color: var(--grey-light-2);

        &:focus {
            outline: none;
            width: 100%;
        }

        &::-webkit-input-placeholder {
            color: var(--grey-light-4);
            font-weight: 100;
        }
    }

    &__button {
        border: none;
        background-color: var(--grey-light-2);
        transition: all .25s;

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--grey-dark-3);
    }
}

////////////////////////////////////////
// USER NAVIGATION

.user-nav {
    align-self: stretch;

    display: flex;
    align-items: center;
    
    
    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
    }

    & > *:hover {
        background-color: var(--grey-light-2);
    }

    &__icon-box {
     display: flex;
     align-items: center;
     position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--grey-dark-2);
    }

    &__notification {
        background-color: var(--color-primary);
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;

        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--white);
    }

    &__user {
        display: flex;
        justify-content: center;
        align-items: center;
        
        &-photo {
            height: 4rem;
            border-radius: 50%;
            
            margin-right: 1rem;
        } 

        &-name {
            font-size: 1.4rem;
        }
    }
}

////////////////////////////////////////
// SIDE NAVIGATION

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    &-nav {
        margin-top: 2rem;
        list-style: none;
    }
        &__item {
            position: relative; 
            cursor: pointer;
            padding: 1.7rem 3rem;
        }
        
        &__item::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
            background-color: var(--color-primary);
            transform: scaleY(0);
            transition: transform .2s,
                        width .32s cubic-bezier(1,0,0,1) .24s;
            
        }

        &__item:hover::before,
        &__item--active::before {
            transform: scaleY(1);
            width: 100%;
        }

        &__item:active::before {
            background-color: var(--color-primary-light);
        }

        &__link:link,
        &__link:visited {
            position: relative;
            z-index: 5;
            font-size: 1.5rem;
            text-transform: uppercase;
            color: var(--grey-light-1);
            text-decoration: none;

            display: flex;
            align-items: center;
        }

        &__icon {
            height: 1.75rem;
            width: 1.75rem;
            margin-right: 2.5rem;
            fill: currentColor;
        }
}


////////////////////////////////////////
// LEGAL TEXT

.legal {
    font-size: 1.2rem;
    color: var(--grey-light-4);
    text-align: center;
    padding: 2rem;
}

////////////////////////////////////////
// GALLERY

.gallery {
    display: flex;

    &__photo {
        width: 100%;
    }

}

////////////////////////////////////////
// OVERVIEW

.overview {
    display: flex;

    [class^="overview__icon"] {
        height: 1.75rem;
        width: 1.75rem;
        fill: var(--color-primary);
    }

    &__stars {
        margin-right: auto;
    }

}


