.container {
    background-color: var(--grey-light-1);
    margin: 8rem auto;
    min-height: 55rem;

    max-width: 120rem;
}

.header {
    height: 7rem;
    background-color: var(--white);
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--grey-dark-1);
    flex: 0 0 18%;
}

.hotel-view {
    flex: 1;
}

.detail {
    font-size: 1.4rem;
    padding: 4.5rem;
    display: flex;
}

.description {
    flex: 0 0 60%;

    box-shadow: var(--shadow-light);
    background-color: white;
    padding: 3rem;
    margin-right: 4.5rem;
}

.user-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}