.container {
    background-color: var(--grey-light-1);
    margin: 8rem auto;
    min-height: 55rem;

    max-width: 120rem;

    @media only screen and (max-width: 75em) {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
}

.header {
    height: 7rem;
    background-color: var(--white);
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;

    @media only screen and (max-width: 58.125em) {
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--grey-dark-1);
    flex: 0 0 18%;
}

.hotel-view {
    flex: 1;
}

.detail {
    font-size: 1.4rem;
    padding: 4.5rem;
    display: flex;

    @media only screen and (max-width: 68.75em) {
        padding: 2rem;
    }

    @media only screen and (max-width: 37.5em) {
          padding: 0;  
          flex-direction: column;
    }
}

.description {
    flex: 0 0 60%;

    box-shadow: var(--shadow-light);
    background-color: white;
    padding: 3rem;
    margin-right: 4.5rem;
}

.user-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}